<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIP Server and Client Server Ports</title>
    <style>
        .heading{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
        }
        .heading h1{
            color: rgb(25, 130, 250);
        }
        .ip_addresses{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        .ip{
            display: flex;
            flex-direction: row;
        }
    </style>
</head>

<body>
    <div class="main_container">
        <div class="heading">
            <h1 class="title">SIP Server and Client Server Ports</h1>
        </div>
        <div class="ip_addresses">
            <div class="tag"><h3>Sip Server</h3></div>
            <div class="ip">
                <div class="server-name">
                    <h4>Sip Server</h4>
                    <input type="Enter Ip address">
                </div>
                <div class="server-name"></div>
                    <h4>client Server</h4>
                    <input type="Enter Ip address">
                </div>
            </div>
            <div class="tag"><h3>Client Server</h3></div>
        </div>
        <a href="{% url 'attacks_page' %}">
            <button type="button">attacks_page</button>
        </a>
    </div>
</body>

</html>